.prefix-label-select-container {
    display: inline-table;
    width: 100%;
}

.prefix-title {
    display: table-cell;
    padding: 0 20px;
    border: 1px solid #DCDFE6;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    color: #909399;
    background-color: #F5F7FA;
    width: 1px;
    white-space: nowrap
}

.prefix-label-select {
    display: table-cell;
}

.prefix-label-select .el-input, .el-select {
    line-height: normal;
}

.prefix-label-select .el-input__inner {
    border-radius: 0 4px 4px 0 !important;
    line-height: normal;
}
